*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1300px;
}
.contenedor{
    width: 100%;
    max-width: 700px;
    margin: auto;
}
.Botones label{
    display: inline-block;
    padding: 20px;
    transition: all 400ms ease;
    cursor: pointer;
}
td label{
    cursor: pointer;
}
.Botones label:hover{
background: #fff;
}
.contenido{
    position: relative;
}
.tab1 label{
    cursor: pointer;
}
.contenido div{
    transition: all 600ms ease;
    opacity: 0;
    display: none;
    transform: scale(0.90);
    padding: 30px;
    padding-bottom: 40px;
}
#radio1,#radio2,#radio3,#radio4,#radio5,#radio6,#radio7{
    display: none;
}
.form4 label{
    background:lightgray;
    margin: 5px;
}
.form4 label:hover{
    background-color: #fff;
}

#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3,
#radio4:checked ~ .tab1,
#radio5:checked ~ .tab1,
#radio6:checked ~ .tab3,
#radio7:checked ~ .tab4
{
    opacity: 1;
    transform: scale(1);
    display: block;
}
.contenido div::after{
    position: absolute;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: 100%;
    left: 41%;
}
.contenido .tab3::after{
    left: 48%;
}
.contenido .tab4::after{
    left: 48%;
}
.contenido .tab2::after{
    left: 56%;
}
td label{
    margin: 5px;
}
td label:hover{
    background-color: grey;
}




body{
    background-color:rgb(243, 243, 243) ;
}
.tab1,.tab2{   
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nombre,#velocidad{
    margin: 10px;
}
#Destino,#Salida{
    margin: 10px;
}
textarea{
    width: 450px;
    height: 70px;
}
#form3{
    margin-left: 60%;
    margin-top: 1px;
}
#form2{
    margin-left: 30%;
    margin-top: 10px;
}
.form1 {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form4{
    margin-left: 450px;
}
.Botones{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:steelblue;
    border-radius: 20px;
    width: 400px;
    margin: auto;
}
table{
    border-collapse: separate;
    border: 1px;
    background-color: white;
    height: 250px;
    width: 500px;
    empty-cells: hide;
    margin-right: auto;
    margin-left: auto;
    border-color: blue;
}
#table{
    height: 250px;
    width: 513px;
    max-width: 513px;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin:auto ;  
    
}
table th{
    position: sticky;
    top: 0;
    background-color:white;
}
table th,tr,td{
    padding: 7px;
}
#btnCerrar{
    margin-left: 1240px;
}
.tab1 label{
    padding: 1px;
    background-color: whitesmoke;
}
input{
    border-color: blue;
}
textarea{
    border-color: blue;
}
#btnCerrar{
    display: block;
    margin-left: 90%;
    margin-top: 25px;
    height: 30px;
}
a{
    text-decoration: none;
}