*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1300px;
}
.contenedor{
    width: 100%;
    max-width: 700px;
    margin: auto;
}

#Rides-tab,#Dashboard-tab,#Configuraciones-tab{
    color: black;
}
.tab1,.tab2{   
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nombre,#velocidad{
    margin: 10px;
}
#Destino,#Salida{
    margin: 10px;
}
textarea{
    width: 450px;
    height: 70px;
}
#form3{
    margin-left: 60%;
    margin-top: 1px;
}
#form2{
    margin-left: 30%;
    margin-top: 10px;
}
.form1 {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form4{
    margin-left: 450px;
}
.Botones{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:steelblue;
    border-radius: 20px;
    width: 400px;
    margin: auto;
}
table{
    border-collapse: separate;
    border: 1px;
    background-color: white;
    height: 6px;
    width: 500px;
    border-color: blue;
}
#table{
    height: 250px;
    width: 513px;
    max-width: 513px;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin:auto ;  
    
}
#table th{
    position: sticky;
    top: 0;
    background-color: steelblue;
}
#table1 th,tr,td{
    padding: 7px;
}
#btnCerrar{
    margin-left: 1240px;
}
.tab1 label{
    padding: 1px;
    background-color: whitesmoke;
}
input{
    border-color: blue;
}
textarea{
    border-color: blue;
}
#btnCerrar{
    display: block;
    margin-left: 90%;
    margin-top: 25px;
    height: 35px;
}
a{
    text-decoration: none;
}